
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* reset page........................................................ */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General styles.................................................... */
html{
  font-size: 16px;
  min-height: 100%;
  display:grid;
}

body {
  
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   min-height: 100%;
   background-color: white;
   width: 100%;
   overflow-x: hidden;
}

/* root container for div.......................................  */
#root{
  display: flex;
  width: 100%;
  height: 100%;
}

/* App.js container........................................... */
.App{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content:flex-start;
}

/* ............................................common mediaquery responsive setup */
@media screen and (min-width: 600px){

   
   .menu-btn{
    display: none;
   }
   .sidebar{
    display: none;
    transform: translateX(-100%);
   }
    .sidebar.active {
      display: none;
      transform: translateX(-100%);
  }
   
}

@media screen and (max-width: 600px){

   .sidebar-menu{
    display: block;
   }
   .menu-btn{
    display: block;
   }
     .Nav .nav-menu {
    display: none;
  }
}

/*............................................... Dark mode preference overrides for common*/
@media (prefers-color-scheme: dark) {
  body {
    background-color: #121212; /* dark background */
    color: #ffffff; /* white text */
  }

  header, footer {
    background: linear-gradient(90deg, #181818, #202020); /* dark gradient */
    color: #fff;
  }

  .sidebar {
    background-color: #1e1e2f; /* dark navy-like tone */
    color: #e0e0e0;
  }

  a {
    color: #b3d4fc; /* soft blue links */
  }

  a:hover {
    background-color: #2a2a3d; /* subtle hover for dark mode */
  }
  body  .post{
    border-bottom: 1px solid white;
  }
  .clear-icon{
    color: black;
  }
   body .postpage-post{
    border-bottom: 1px solid white;
  }
} 
